/* Typography */
html{
    font-size: calc(10px + 1.2vw);
}
@media screen and (max-width: 500px) {
    html {
        font-size: 16px
    }
}
@media screen and (min-width: 1000px) {
    html {
        font-size: 22px;
    }
}
body {
    font-family:'Roboto Mono', monospace;
    line-height: 1.4;
}
h1 {
    font-size: 2.369rem;
}
h2 {
    font-size: 1.777rem;
}

h3 {
    font-size: 1.333rem;
}
p,li, .pages div {
    font-size: 1rem;
}
.languages div {
    font-size: 0.75rem;
}
p.time {
    font-style: italic;
}
/* Reeused */
body {
    width: 95%;
    max-width: 1200px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
/* Nav Bar */
.languages {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 1% 0 2%;
}
.german, .english, .portuguese {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5%;
}
.languages div, .languages img {
    padding-left : 5px;
    padding-right: 5px;
}
.pages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content:flex-start;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: hsl(275, 40%, 40%);
    width: 100%;
}


.pages div {
    padding: 1% 2%;
    font-weight: bold;
    margin: 0 5% 0 0;
}
.footerLinks {
    display: flex;
    flex-wrap: none;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 3%;
    padding-bottom: 3%;
}
li:last-child {
    margin-bottom: 2rem;
}
footer {
    position: absolute;
    left:0;
    right: 0;
    background-color: hsl(275, 40%, 40%);
    padding:5% 0 5% 0;
}